.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg) scale(1.02);
    box-shadow:  3px 3px 10px #ff1dd9, -3px -2px 10px #ff1dd9;
    border-radius: 12px;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 12px;
    box-shadow:  3px 3px 10px #3a3a3a, -3px -2px 10px #3a3a3a;
  }
  
  .flip-card-front {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(22, 22, 22, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(22, 22, 22, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

.back-number{
    font-size: 10rem;
    position: relative;
    right: -60px;
    top: -30px;
    filter: opacity(40%);
}

.gift{
    width: 50%;
    position: relative;
    top: -70px;
}

.gift-option h1{
    margin-top: 20%;
    margin-bottom: 10%;
    font-size: 2rem;
    font-weight: 600;
}

.gift-option p{
    margin-top: 10%;
    font-size: 2rem;
    font-weight: 600;
}

.gift-option img{
    width: 50%;
}